<div>
    <h2 id="page-heading">
        <span jhiTranslate="aliveServiceApp.observe.home.title">Observes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-observe" [routerLink]="['/observe/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="aliveServiceApp.observe.home.createLabel">
            Create a new Observe
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="observes?.length === 0">
        <span jhiTranslate="aliveServiceApp.observe.home.notFound">No observes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="observes && observes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="aliveServiceApp.observe.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startdate"><span jhiTranslate="aliveServiceApp.observe.startdate">Startdate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="aliveServiceApp.observe.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let observe of observes ;trackBy: trackId">
                    <td><a [routerLink]="['/observe', observe.id, 'view']">{{ observe.id }}</a></td>
                    <td>{{ observe.description }}</td>
                    <td>{{ observe.startdate | date:'mediumDate' }}</td>
                    <td>
                        {{ observe.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/observe', observe.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/observe', observe.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(observe)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
